.Header {
	position: relative;
	gap: 0.3rem;
	padding-top: 5rem;
}

.Header-data {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	padding-top: .4rem;
	gap: .3rem;
}

.Header-photo {
	width: 125px;
	border: 4px solid #ffffff;
	border-radius: 20px;
}

.Header-name {
	font-size: 1.6rem;
	font-weight: 500;
}

.Header-role {
	font-size: 1.2rem;
	font-weight: 300;
}

.Header-bg {
	position: absolute;
	top: 0;
	z-index: -1;
}
