@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
	--white: hsla(0, 0%, 100%, 1);
	--smoky-black: hsla(0, 0%, 7%, 1);
	--medium-slate-blue: hsla(243, 72%, 67%, 1);
	--medium-slate-blue-10: hsla(243, 72%, 67%, 0.1);
	--vivid-sky-blue: hsla(196, 92%, 64%, 1);
	--tart-orange: hsla(0, 100%, 65%, 1);
	--jet: hsla(0, 0%, 20%, 1);
	--orange-crayola: hsla(20, 92%, 59%, 1);
	--star-command-blue: hsla(201, 100%, 35%, 1);
	--smoky-black: hsla(0, 0%, 7%, 1);
	--black: hsla(0, 0%, 0%, 1);
	--bluetiful: hsla(219, 100%, 55%, 1);

	/* Theme */
	--primary: var(--white);
	--secondary: var(--smoky-black);
	--accent: var(--medium-slate-blue);
	--link: var(--medium-slate-blue-10);
	--twitter: var(--vivid-sky-blue);
	--youtube: var(--tart-orange);
	--github: var(--jet);
	--instagram: var(--orange-crayola);
	--linkedin: var(--star-command-blue);
	--codepen: var(--smoky-black);
	--medium: var(--black);
	--behance: var(--bluetiful)
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	font-family: 'Roboto', sans-serif;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

.container {
	max-width: 400px;
	margin: 0 auto;
}
